.topLevel {
    width: 100%;
    background-color: #E1523D;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}
